td {
  border: 1px;
  border-style: solid;
  text-align: right;
  padding: 4px;
}

th {
  border: 1px;
  border-style: solid;
  text-align: right;
  padding: 4px;
}

table {
  border: 1px;
  border-style: solid;
}

.day {
  margin-top: 15px;
}

.date {
  font-weight: bolder;
}

.hoursTable {
  text-align: -webkit-right;
}

.alert {
  background-color: pink;
}
